<%- include('../layout/head') %>
    <%- include('../layout/navbar') %>

        <div class="content">
            <div class="container-sm mt-4">
                <div class="d-flex mb-4">
                    <button class="btn text-white btn-main bg-main fs-13px d-flex align-items-center"><i
                            class="fa-solid fa-plus me-1"></i> Tạo cuộc họp</button>
                </div>
                <div class="card border-none p-4 mb-5 ">
                    <div class="d-flex ms-3 me-3 fs-13px align-items-center mb-3" id="chon_cuoc_hop" style="display:none!important">
                        <p class="mb-0">Đã chọn <b>
                                <font color="red" dem="zoom">0</font>
                            </b> cuộc họp</p>
                            <span class="ms-auto me-1 btn btn-main fs-13px bg-dark text-white">Hành động</span>
                    </div>
                    <div class="p-4 pt-0 pb-0">

                        <div class="row">
                            <div class="card w-100 mb-3">
                                <div class="p-3 d-flex flex-row justify-content-start align-items-start">
                                    <input type="checkbox" oninput="load_zoom_List()" name="zoom_list" value=""
                                        class="checkbox_main" />
                                    <div
                                        class="align-items-center d-block flex-row w-100 d-sm-flex text-sm-start text-center">
                                        <div class="align-items-start height-5rem"><img
                                                src="https://cdn-icons-png.flaticon.com/512/2859/2859706.png"
                                                class="ms-3 mb-2 mt-1" width="45" height="50" alt="logo" />
                                        </div>
                                        <div class="d-flex flex-column ms-2 me-auto text-sm-start text-center w-auto">
                                            <h4 class="fs-15px mb-0">Phòng họp của tôi</h4>
                                            <p class="fs-13px mb-0">ID:18234234</p>
                                            <p class="fs-13px text-gray">Ngày tạo: 15/06/2022</p>
                                        </div>
                                        <div class="d-flex flex-column ms-2">
                                            <button class="btn bg-main fs-13px text-white mb-2 text-center">
                                                <i class="fa-regular fa-gear me-1 space-nowrap"></i> Cấu hình
                                            </button>
                                            <button class="btn bg-danger fs-13px text-white text-center">
                                                <i class="fa-solid fa-trash me-1 space-nowrap"></i>Xóa bỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card w-100 mb-3">
                                <div class="p-3 d-flex flex-row justify-content-start align-items-start">
                                    <input type="checkbox" oninput="load_zoom_List()" name="zoom_list" value=""
                                        class="checkbox_main" />
                                    <div
                                        class="align-items-center d-block flex-row w-100 d-sm-flex text-sm-start text-center">
                                        <div class="align-items-start height-5rem"><img
                                                src="https://cdn-icons-png.flaticon.com/512/2859/2859706.png"
                                                class="ms-3 mb-2 mt-1" width="45" height="50" alt="logo" />
                                        </div>
                                        <div class="d-flex flex-column ms-2 me-auto text-sm-start text-center w-auto">
                                            <h4 class="fs-15px mb-0">Phòng họp của tôi</h4>
                                            <p class="fs-13px mb-0">ID:18234234</p>
                                            <p class="fs-13px text-gray">Ngày tạo: 15/06/2022</p>
                                        </div>
                                        <div class="d-flex flex-column ms-2">
                                            <button class="btn bg-main fs-13px text-white mb-2 text-center">
                                                <i class="fa-regular fa-gear me-1 space-nowrap"></i> Cấu hình
                                            </button>
                                            <button class="btn bg-danger fs-13px text-white text-center">
                                                <i class="fa-solid fa-trash me-1 space-nowrap"></i>Xóa bỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card w-100 mb-3">
                                <div class="p-3 d-flex flex-row justify-content-start align-items-start">
                                    <input type="checkbox" oninput="load_zoom_List()" name="zoom_list" value=""
                                        class="checkbox_main" />
                                    <div
                                        class="align-items-center d-block flex-row w-100 d-sm-flex text-sm-start text-center">
                                        <div class="align-items-start height-5rem"><img
                                                src="https://cdn-icons-png.flaticon.com/512/2859/2859706.png"
                                                class="ms-3 mb-2 mt-1" width="45" height="50" alt="logo" />
                                        </div>
                                        <div class="d-flex flex-column ms-2 me-auto text-sm-start text-center w-auto">
                                            <h4 class="fs-15px mb-0">Phòng họp của tôi</h4>
                                            <p class="fs-13px mb-0">ID:18234234</p>
                                            <p class="fs-13px text-gray">Ngày tạo: 15/06/2022</p>
                                        </div>
                                        <div class="d-flex flex-column ms-2">
                                            <button class="btn bg-main fs-13px text-white mb-2 text-center">
                                                <i class="fa-regular fa-gear me-1 space-nowrap"></i> Cấu hình
                                            </button>
                                            <button class="btn bg-danger fs-13px text-white text-center">
                                                <i class="fa-solid fa-trash me-1 space-nowrap"></i>Xóa bỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card w-100 mb-3">
                                <div class="p-3 d-flex flex-row justify-content-start align-items-start">
                                    <input type="checkbox" oninput="load_zoom_List()" name="zoom_list" value=""
                                        class="checkbox_main" />
                                    <div
                                        class="align-items-center d-block flex-row w-100 d-sm-flex text-sm-start text-center">
                                        <div class="align-items-start height-5rem"><img
                                                src="https://cdn-icons-png.flaticon.com/512/2859/2859706.png"
                                                class="ms-3 mb-2 mt-1" width="45" height="50" alt="logo" />
                                        </div>
                                        <div class="d-flex flex-column ms-2 me-auto text-sm-start text-center w-auto">
                                            <h4 class="fs-15px mb-0">Phòng họp của tôi</h4>
                                            <p class="fs-13px mb-0">ID:18234234</p>
                                            <p class="fs-13px text-gray">Ngày tạo: 15/06/2022</p>
                                        </div>
                                        <div class="d-flex flex-column ms-2">
                                            <button class="btn bg-main fs-13px text-white mb-2 text-center">
                                                <i class="fa-regular fa-gear me-1 space-nowrap"></i> Cấu hình
                                            </button>
                                            <button class="btn bg-danger fs-13px text-white text-center">
                                                <i class="fa-solid fa-trash me-1 space-nowrap"></i>Xóa bỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card w-100 mb-3">
                                <div class="p-3 d-flex flex-row justify-content-start align-items-start">
                                    <input type="checkbox" oninput="load_zoom_List()" name="zoom_list" value=""
                                        class="checkbox_main" />
                                    <div
                                        class="align-items-center d-block flex-row w-100 d-sm-flex text-sm-start text-center">
                                        <div class="align-items-start height-5rem"><img
                                                src="https://cdn-icons-png.flaticon.com/512/2859/2859706.png"
                                                class="ms-3 mb-2 mt-1" width="45" height="50" alt="logo" />
                                        </div>
                                        <div class="d-flex flex-column ms-2 me-auto text-sm-start text-center w-auto">
                                            <h4 class="fs-15px mb-0">Phòng họp của tôi</h4>
                                            <p class="fs-13px mb-0">ID:18234234</p>
                                            <p class="fs-13px text-gray">Ngày tạo: 15/06/2022</p>
                                        </div>
                                        <div class="d-flex flex-column ms-2">
                                            <button class="btn bg-main fs-13px text-white mb-2 text-center">
                                                <i class="fa-regular fa-gear me-1 space-nowrap"></i> Cấu hình
                                            </button>
                                            <button class="btn bg-danger fs-13px text-white text-center">
                                                <i class="fa-solid fa-trash me-1 space-nowrap"></i>Xóa bỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card w-100 mb-3">
                                <div class="p-3 d-flex flex-row justify-content-start align-items-start">
                                    <input type="checkbox" oninput="load_zoom_List()" name="zoom_list" value=""
                                        class="checkbox_main" />
                                    <div
                                        class="align-items-center d-block flex-row w-100 d-sm-flex text-sm-start text-center">
                                        <div class="align-items-start height-5rem"><img
                                                src="https://cdn-icons-png.flaticon.com/512/2859/2859706.png"
                                                class="ms-3 mb-2 mt-1" width="45" height="50" alt="logo" />
                                        </div>
                                        <div class="d-flex flex-column ms-2 me-auto text-sm-start text-center w-auto">
                                            <h4 class="fs-15px mb-0">Phòng họp của tôi</h4>
                                            <p class="fs-13px mb-0">ID:18234234</p>
                                            <p class="fs-13px text-gray">Ngày tạo: 15/06/2022</p>
                                        </div>
                                        <div class="d-flex flex-column ms-2">
                                            <button class="btn bg-main fs-13px text-white mb-2 text-center">
                                                <i class="fa-regular fa-gear me-1 space-nowrap"></i> Cấu hình
                                            </button>
                                            <button class="btn bg-danger fs-13px text-white text-center">
                                                <i class="fa-solid fa-trash me-1 space-nowrap"></i>Xóa bỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card w-100 mb-3">
                                <div class="p-3 d-flex flex-row justify-content-start align-items-start">
                                    <input type="checkbox" oninput="load_zoom_List()" name="zoom_list" value=""
                                        class="checkbox_main" />
                                    <div
                                        class="align-items-center d-block flex-row w-100 d-sm-flex text-sm-start text-center">
                                        <div class="align-items-start height-5rem"><img
                                                src="https://cdn-icons-png.flaticon.com/512/2859/2859706.png"
                                                class="ms-3 mb-2 mt-1" width="45" height="50" alt="logo" />
                                        </div>
                                        <div class="d-flex flex-column ms-2 me-auto text-sm-start text-center w-auto">
                                            <h4 class="fs-15px mb-0">Phòng họp của tôi</h4>
                                            <p class="fs-13px mb-0">ID:18234234</p>
                                            <p class="fs-13px text-gray">Ngày tạo: 15/06/2022</p>
                                        </div>
                                        <div class="d-flex flex-column ms-2">
                                            <button class="btn bg-main fs-13px text-white mb-2 text-center">
                                                <i class="fa-regular fa-gear me-1 space-nowrap"></i> Cấu hình
                                            </button>
                                            <button class="btn bg-danger fs-13px text-white text-center">
                                                <i class="fa-solid fa-trash me-1 space-nowrap"></i>Xóa bỏ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- Content here -->
        </div>

        <%- include('../layout/footer') %>