<%- include('../layout/head') %>
    <%- include('../layout/navbar') %>

        <div class="content">
            <div class="container-sm text-center d-flex justify-content-center align-items-center flex-column">
                <img src="/img/error.png" alt="" >
                <p class="text-404">Không tìm thấy trang này</p>
                <p class="error-404-text">
                    có thể trang này đã bị chủ sở hữu xóa
                </p>
                <a href="/" class="btn text-white btn-main bg-main fs-13px">Trở về trang chủ</a>
            </div>
            <!-- Content here -->
        </div>
        <%- include('../layout/footer') %>
<%- include('../layout/script') %>